ion-header {
    --ion-background-color: #1a202c;
}
ion-content {
    --background: url('../../assets/logo_background.jpg') no-repeat center/cover fixed;
}

ion-item {
    padding: 5%;
    box-sizing: border-box;
}

ion-input {
    color: black;
}

.submit-button {
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
}

.login-form {
    margin-top: 30%;
}