<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form>
    <ion-item>
      <ion-input class="login-input" [(ngModel)]="handle" placeholder="Username" type="text" required="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input class="login-input" [(ngModel)]="password" placeholder="Password" type="password" required="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-button class="login-button" type="submit" expand="block">Sign In</ion-button>
    </ion-item>
  </form>
</ion-content>
