ion-header {
    --ion-background-color: #1a202c;
    ion-toolbar {
        ion-title {
            color: white;
        }
    }
}
ion-content {
    --background: url('../../assets/logo_background.jpg') no-repeat center/cover fixed;
}
.login-input {

}
.login-button {


}