ion-header {
    --ion-background-color: #71b095;
    border: 0px !important;
    border-bottom-color: transparent !important;
    border-bottom: none !important;
}

ion-content {
    --ion-background-color: #71b095;
}