<ion-header>
  <ion-toolbar>
    <ion-title>Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-button class="cancel-btn" fill="clear" [routerLink]="['/tabs/tabs/tab2']" routerDirection="back">Cancel</ion-button>

<ion-content>
  <ion-button expand="block" color="success">Edit Name</ion-button>
  <ion-button expand="block" color="success">Edit Description</ion-button>
  <ion-button [routerLink]="['/change-password']" routerDirection="forward" 
    expand="block" color="success">Change Password</ion-button>
</ion-content>
