ion-header {
    --ion-background-color: #1a202c;
}
ion-toolbar {
    width: 100%;
    height: 100%;
}
ion-title {
    color: #dedba6;
}
ion-content {
    --ion-background-color: #1a202c;
    ion-button {
        margin-top: 10%;
        margin-left: 15%;
        margin-right: 15%;
    }
}

.cancel-btn {
    margin-right: 80%;
}