ion-content {
    --background: url('../../assets/logo_background.jpg') no-repeat center/cover fixed;
}

.top-button {
    justify-content: center;
    display: flex;
    margin-top: 25%;
    margin-left: 20%;
    margin-right: 20%;
    font-weight: bold;
}
.middle-button {
    justify-content: center;
    display: flex;
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
    font-weight: bold;
}
.bottom-button {
    justify-content: center;
    display: flex;
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20%;
    font-weight: bold;
}
.text1 {
    font-size: small;
}
.text2 {
    font-size: 20.5px;
    font-weight: bold;
}