<ion-content [fullscreen]="true">
    <ion-grid>
        <ion-row class="ion-align-items-center ion-justify-content-center">
            <ion-col>
                <ion-button size="large" color="warning" routerLink="/new-date" routerDirection="forward">Plan a New Date</ion-button>
            </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center ion-justify-content-center">
            <ion-col>
                <ion-button size="large" color="secondary">Current Date</ion-button>
            </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center ion-justify-content-center">
            <ion-col>
                <ion-button size="large" color="success">Previous Dates</ion-button>
            </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center ion-justify-content-center">
            <ion-col>
                <ion-button size="large" color="success">Upcoming Dates</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>