

<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="tab1" class="tab-button-left">
            <img class="tab-button-left" src="assets/photos/Home.png">
        </ion-tab-button>

        <ion-tab-button tab="tab2" class="tab-button-middle">
            <img class="tab-button-middle" src="assets/photos/Profile.png">
        </ion-tab-button>

        <img class="tab-logo" src="../../assets/photos/tab_logo.jpg">

        <ion-tab-button tab="tab3" class="tab-button-middle">
            <img class="tab-button-middle" src="assets/photos/Messages.png">
        </ion-tab-button>

        <ion-tab-button tab="tab4" class="tab-button-right">
            <img class="tab-button-right" src="assets/photos/Dates.png">
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>