<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="tab1" class="transparent_button">
            <img src="assets/Home.png">
        </ion-tab-button>

        <ion-tab-button tab="tab2" class="transparent_button">
            <img src="assets/Profile.png">
        </ion-tab-button>

        <ion-tab-button tab="tab3" class="transparent_button">
            <img src="assets/Messages.png">
        </ion-tab-button>

        <ion-tab-button tab="tab4" class="transparent_button">
            <img src="assets/Dates.png">
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>