<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="tab1" class="button_home">
            <ion-icon name="home-outline"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="tab2" class="button_profile">
            <ion-icon name="person-outline"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="tab3" class="button_messages">
            <ion-icon name="chatbubbles-outline"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="tab4" class="button_dates">
            <ion-icon name="heart-outline"></ion-icon>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>