<ion-header>
  <ion-toolbar>
    <ion-title>Change Password</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button fill="clear" [routerLink]="['/edit-profile']" routerDirection="back">Cancel</ion-button>
  
  <ion-item>
    <ion-input id="current-pass" type="text" placeholder="Current Password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input id="new-pass" type="text" placeholder="New Password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input id="confirm-new-pass" type="text" placeholder="Re-type New Password"></ion-input>
  </ion-item>
</ion-content>
