ion-header {
    --ion-background-color: #1a202c;
}
ion-toolbar {
    width: 100%;
    height: 100%;
}
ion-grid {
    background-color: #1a202c;
    margin-left: 2%;
}
.header-row {
    display: flex;
    justify-content: center;
}
.header-col {
    padding: 0;
}
/*
ion-icon {
    margin-left: 94%;
    margin-top: 2%;
}*/
.edit-prof {
    margin-left: 85%;
}
.prof-card {
    background-color: #1a202c;
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
}
.card-title {
    color: #000000;
    position: absolute;
    bottom: 6%;
    right: 1%;
    width: auto;
    font-size: 2.0em;
    font-weight: bold;
}
.card-subtitle {
    color: #000000;
    position: absolute;
    bottom: 1%;
    right: 1%;
    width: auto;
    font-size: 1.0em;
}
.prof-t1 {
    display: inline-block;
    width: auto;
    height: auto;
    font-size: small;
    font-weight: bold;
}
.prof-t2 {
    display: inline-block;
    width: auto;
    height: auto;
    font-size: small;
}