<ion-header>
    <ion-toolbar>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-button color="secondary" expand="full" routerLink="/calendar" routerDirection="forward">Calendar</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button color="secondary" expand="full">Photos</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button color="secondary" expand="full">Stories</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button color="secondary" expand="full">Other</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Tab 2</ion-title>
        </ion-toolbar>
    </ion-header>

    <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>