<ion-header>
    <ion-toolbar>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-button color="secondary" expand="full" routerLink="/calendar" routerDirection="forward">Calendar</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button color="secondary" expand="full">Photos</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button color="secondary" expand="full">Stories</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button color="secondary" expand="full">Other</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>>

<ion-content [fullscreen]="true">
    <ion-content class="card-background-page">
        <ion-card>
            <img src="assets/Spot.jpg">
            <div class="card-title">Spot</div>
            <div class="card-subtitle">I love belly rubs and licking myself all over.</div>
        </ion-card>
    </ion-content>

</ion-content>