ion-header {
    --ion-background-color: #1a202c;
}

ion-content {
    --ion-background-color: #FFFFFF;
}
ion-grid {
    background-color: #ffffff;
}

.home-couple {
    color: black;
    width: auto;
    height: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: medium;
    font-weight: bold;
    text-align: center;
}
ion-icon {
    color: #d13f30;
    margin-top: 10%;
}
.home-date {
    color: gray;
    width: auto;
    height: auto;
    margin-bottom: 1%;
    font-size: medium;
    text-align: center;
}
.home-description {
    color: black;
    width: auto;
    height: auto;
    font-size: small;
    column-span: all;
}