<ion-header>
    <ion-toolbar>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-button color="success" expand="full" routerLink="/calendar" routerDirection="forward">Calendar</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button color="success" expand="full">Photos</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button color="success" expand="full">Stories</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button color="success" expand="full">Other</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>
<!--
<ion-card class="home-screen">
    <ion-item class="card-item">
        <ion-card-content class="home-card">
            <img class="img" src="assets/camping.jpg">
            <p class="home-couple">JARED + MELANIE</p>
            <p class="home-date">August 28, 2020</p>
            <p class="home-description">Had a blast tenting this weekend.<br>Bugs were nuts though.</p>
        </ion-card-content>
    </ion-item>
    <ion-item class="card-item">
        <ion-card-content class="home-card">
            <img class="img" src="assets/google_map.jpg">
            <p class="home-couple">QUINN + TODD</p>
            <ion-icon class="card-icon" name="thumbs-up"></ion-icon>
            <ion-icon class="card-icon" name="trophy"></ion-icon>
            <p class="home-date">August 19, 2020</p>
            <div class="home-description">Si-Pie Pizzeria</div>
        </ion-card-content>
    </ion-item>
</ion-card>
-->
<ion-grid>
    <ion-row>
        <ion-col size="4">
            <img src="assets/camping.jpg">
        </ion-col>
        <ion-col size="6">
            <div class="home-couple">JARED + MELANIE</div>
            <div class="home-date">August 28, 2020</div>
            <div class="home-description">Had a blast tenting this weekend. Bugs were nuts though.</div>
        </ion-col>
        <ion-col size="1">
            <ion-icon name="thumbs-up"></ion-icon>
        </ion-col>
        <ion-col size="1">
            <ion-icon name="trophy"></ion-icon>
        </ion-col>
    </ion-row>
</ion-grid>