ion-header {
    --ion-background-color: #1a202c;
}

ion-content {
    --ion-background-color: #FFFFFF;
}


.home-screen {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}
.img {
    
}
.home-couple {
    color: black;
    width: auto;
    height: auto;
    font-size: medium;
    font-weight: bold;
}
.card-icon {
    width: auto;
    height: auto;
}
.home-date {
    color: black;
    width: auto;
    height: auto;
    font-size: medium;
}
.home-description {
    color: black;
    width: auto;
    height: auto;
    font-size: small;
}