ion-content {
    --ion-background-color: #FFFFFF;
}

ion-input {
    --background: #dedba6;
}

ion-label {
    --color: #1f7872;
}

ion-note {
    --color: #1f7872;
}

ion-fab-button {
    --background: #1f7872;
}