<ion-header>
    <ion-item>
        <ion-button color="success">New Chat
            <ion-icon name="chatbubble-outline"></ion-icon>
        </ion-button>
    </ion-item>
    <ion-input placeholder="Search Connections"></ion-input>
</ion-header>

<ion-content>
<ion-grid>

    <ion-item button routerLink="/chat" routerDirection="forward">
        <ion-row>
            <ion-col size="2">
                <img src="assets/Spot.jpg">
            </ion-col>
            <ion-col size="4">
                <ion-label color="success">rachel</ion-label>
            </ion-col>
            <ion-col size="6">
                <div>Last week was so fun!</div>
            </ion-col>
        </ion-row>
    </ion-item>

    <ion-item button routerLink="/chat" routerDirection="forward">
        <ion-row>
            <ion-col size="2">
                <img src="assets/Spot.jpg">
            </ion-col>
            <ion-col size="4">
                <ion-label color="success">emily</ion-label>
            </ion-col>
            <ion-col size="6">
                <div>Okay Jared it's time to choose between me and Rachel.</div>
            </ion-col>
        </ion-row>
    </ion-item>

    <ion-item button routerLink="/chat" routerDirection="forward">
        <ion-row>
            <ion-col size="2">
                <img src="assets/Spot.jpg">
            </ion-col>    
            <ion-col size="4">
                <ion-label color="success">neil</ion-label>
            </ion-col>
            <ion-col size="6">
                <div>Hey want to come to my cabin in the woods :)</div>
            </ion-col>
        </ion-row>
    </ion-item>

    <ion-item button routerLink="/chat" routerDirection="forward">
        <ion-row>
            <ion-col size="2">
                <img src="assets/Spot.jpg">
            </ion-col>
            <ion-col size="4">
                <ion-label color="success">jared</ion-label>
            </ion-col>
            <ion-col size="6">
                <div>Jared it's you from the future, don't trust Neil.</div>
            </ion-col>
        </ion-row>
    </ion-item>

    <ion-item button routerLink="/chat" routerDirection="forward">
        <ion-row>
            <ion-col size="2">
                <img src="assets/Spot.jpg">
            </ion-col>    
            <ion-col size="4">
                <ion-label color="success">will</ion-label>
            </ion-col>
            <ion-col size="6">
                <div>You still owe me five bucks you bum.</div>
            </ion-col>
        </ion-row>
    </ion-item>

    <ion-item button routerLink="/chat" routerDirection="forward">
        <ion-row>
            <ion-col size="2">
                <img src="assets/Spot.jpg">
            </ion-col>
            <ion-col size="4">
                <ion-label color="success">kieran</ion-label>
            </ion-col>
            <ion-col size="6">
                <div>Jared I'm trapped in your phone help.</div>
            </ion-col>
        </ion-row>
    </ion-item>

</ion-grid>
</ion-content>