ion-content {
    --ion-background-color: #FFFFFF;
}
ion-header {
    --ion-background-color: #dedba6;
}
ion-input {
    --background: #dedba6;
}
.msg-name {
    text-transform: capitalize;
    font-weight: bold;
}

ion-note {
    --color: #1f7872;
}

ion-fab-button {
    --background: #1f7872;
}