ion-content {
    --ion-background-color: #FFFFFF;
}
ion-header {
    --ion-background-color: #dedba6;
}
ion-input {
    --background: #dedba6;
    --color: #1f7872;
}
ion-label {
    text-transform: capitalize;
    font-weight: bold;
    margin-top: 25%;
}
div {
    color: #1f7872;
    font-size: small;
    margin-top: 10%;
}