// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/

:root {
    /** red **/
    --ion-color-primary: #d13f30;
    --ion-color-primary-rgb: 209,63,48;
    --ion-color-primary-contrast: #dedba6;
    --ion-color-primary-contrast-rgb: 222,219,166;
    --ion-color-primary-shade: #b8372a;
    --ion-color-primary-tint: #d65245;
    /** tan **/
    --ion-color-secondary: #dedba6;
    --ion-color-secondary-rgb: 222,219,166;
    --ion-color-secondary-contrast: #1f7872;
    --ion-color-secondary-contrast-rgb: 113,176,149;
    --ion-color-secondary-shade: #c3c192;
    --ion-color-secondary-tint: #e1dfaf;
    /** light teal **/
    --ion-color-tertiary: #71b095;
    --ion-color-tertiary-rgb: 113,176,149;
    --ion-color-tertiary-contrast: #000000;
    --ion-color-tertiary-contrast-rgb: 0,0,0;
    --ion-color-tertiary-shade: #639b83;
    --ion-color-tertiary-tint: #7fb8a0;
    /** dark teal **/
    --ion-color-success: #1f7872;
    --ion-color-success-rgb: 31,120,114;
    --ion-color-success-contrast: #dedba6;
    --ion-color-success-contrast-rgb: 255,255,255;
    --ion-color-success-shade: #1b6a64;
    --ion-color-success-tint: #358680;
    /** dark navy **/
    --ion-color-warning: #1a202c;
    --ion-color-warning-rgb: 26,32,44;
    --ion-color-warning-contrast: #ffffff;
    --ion-color-warning-contrast-rgb: 255,255,255;
    --ion-color-warning-shade: #171c27;
    --ion-color-warning-tint: #313641;
  
    --ion-color-danger: #eb445a;
    --ion-color-danger-rgb: 235,68,90;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #cf3c4f;
    --ion-color-danger-tint: #ed576b;
  
    --ion-color-dark: #222428;
    --ion-color-dark-rgb: 34,36,40;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255,255,255;
    --ion-color-dark-shade: #1e2023;
    --ion-color-dark-tint: #383a3e;
  
    --ion-color-medium: #92949c;
    --ion-color-medium-rgb: 146,148,156;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255,255,255;
    --ion-color-medium-shade: #808289;
    --ion-color-medium-tint: #9d9fa6;
  
    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244,245,248;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0,0,0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;
}