ion-header {
    --ion-background-color: #1a202c;
    ion-title {
        color: #1f7872;
        display: inline-block;
    }
}

ion-content {
    --ion-background-color: #1a202c;
}
ion-input {
    color: white;
}

ion-item {
    margin-top: 5%;
    margin-bottom: 5%;
}
.valid-errors {
    color: white;
    font-size: small;
    margin-left: 5%;
}