<ion-header>
  <ion-toolbar>
    <ion-title>Suggestions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <ion-grid>
    <ion-row>
      <img src="assets/photos/walk-down-mem-lane.jpg">
    </ion-row>

    <ion-row>
      <div class="date-title">A Walk Down Memory Lane AKA Aisle 9</div>
    </ion-row>

    <ion-row>
      <div class="by-user">BY @WES</div>
    </ion-row>

    <ion-row>
      <div class="date-desc">Mask up and head to the store...</div>
    </ion-row>

    <hr class="hr-line">

    <ion-row>
      <div class="date-desc">2 people like this date</div>
    </ion-row>

    <ion-row>
      <ion-col size="3">
        <ion-button size="small" disabled="true">ACTIVE</ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button size="small" disabled="true">FUN</ion-button>
      </ion-col>
    </ion-row>

    <hr class="hr-line">

    <ion-row>
      <ion-col size="1"><ion-icon name="time-outline"></ion-icon></ion-col>
      <ion-col size="2"><div>1hrs</div></ion-col>
      <ion-col size="1"><ion-icon name="home"></ion-icon></ion-col>
      <ion-col size="1"><ion-icon name="moon-outline"></ion-icon></ion-col>
      <ion-col size="1"><ion-icon name="logo-usd"></ion-icon></ion-col>
    </ion-row>
  </ion-grid>
  </ion-card>
  
</ion-content>
